*{
  padding: 0;
  margin: 0;
}
body{
  background-image: url("./images/fondo.jpg");
  background-size: contain;
  width: 100%;
}
#menuContainer{
  background-color: black;
  padding: 0;
}
.figureBanner img{
  width: 100%;
  height: 440px;
  margin: 0;
  padding: 0;
}
#menu{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333738;
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
  height: 40px;
  align-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center
}

a{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #ffff;
  text-decoration: none;
  text-align: center;
  padding: 14px 16px;
 
}

.container{
  display: flex;
}

.count{
  font-size: 32px;
  font-weight: 600;
  text-align: center; 
  margin: 22px 0px 22px 0px;
  background-color: rgba(247, 246, 243, 0.5);
  box-shadow: 4px 10px 10px;
  border-radius: 15px;
}

/* #imagen{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
} */

.card{
  display: flex;
  background-color: rgba(247, 246, 243, 0.5);
  box-shadow: 4px 10px 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 30px; */
  /* margin-left: 170px; */
  margin: 22px 15px 22px; 
  border-radius: 15px;
  width: 320px;
  height: 480px;
}

#poster{
  margin-left: 170px;
}

.card h2{
  margin: 20px;
  margin-top: 3px;
}

.card img{
  width: 243px;
  height: 352px;
  border-radius: 15px;
}

.info{
  border-radius: 10px;
  /* filter: drop-shadow(7px 10px 10px gray); */
  background-color: rgba(192, 185, 185, 0.7);
  height: 200px;
  padding: 40px;
  margin-top: 125px;
  margin: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 10px;
  height: 300px;
  width:90%;
  max-width: 550px;
  overflow:auto;
  box-sizing: border-box;
  text-align: justify;
}

.containerRese単a{
  display: flex;
  background-color: rgba(192, 185, 185, 0.7);
  border-radius: 7px;
  margin: 10px;
}

.infoRese単a{
  box-shadow: 10px 10px 10px;
  text-align: justify;
  width: 700px;
  height: 470px;
  margin: 90px;
  padding: 20px;
  border: solid #9898985b;
  border-radius: 4%;
  background-color: rgba(224, 224, 228, 0.651);
}
.infoRese単a h1{
  font-size: xx-large;
  padding: 10px;

}
.infoRese単a p{
  text-align: justify;
  padding: 10px;
}
#imgCuadro{
  margin: 10%;
  margin-top: 23%;
  width: 80%;
  border-radius: 10px;
  box-shadow: 15px 15px 15px;
}
#containerPlus{
  display: flex;
  justify-content: flex-end;
}

#plus{
  /* border: solid rgb(25, 116, 207); */
  width: 4%;
  border-radius: 40px;
  margin-right: 15px;
  cursor: pointer;
}

.info p{
  text-align: justify;
  padding: 3px;
}

.text{
  font-size: 17px;
}

.info::-webkit-scrollbar {
  -webkit-appearance: none;
}

.info::-webkit-scrollbar:vertical {
  width:10px;
  
}
.info::-webkit-scrollbar-button:increment,.info::-webkit-scrollbar-button {
  display: none;
} 

.info::-webkit-scrollbar:horizontal {
  height: 10px;
}

.info::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #4177ae;
}

.info::-webkit-scrollbar-track {
  border-radius: 10px;
}

.options{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* border: solid rgb(172, 41, 41); */
  background-color: #ffffff;
}

select{
  background-color: #ffffff;
  border: solid hwb(0 100% 0%);
  width:247px;
  /* width:253px; */
  height: 30px;
  overflow: hidden;
  /* appearance: none; */
}

/* ----PERSONAJES---- */

.card ul{
  margin: 0;
  padding: 0;
  font-weight: 600; 
  font-size: 16px;
  text-align: center;
}

/* ----LOCACIONES---- */

.mainCards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}








