*{
  padding: 0;
  margin: 0;
}
body{
  background-image: url("./images/fondo.jpg");
  background-repeat: space repeat;
    width: 100%;
}
.figureBanner img{
  width: 100%;
  height: 480px;
}
#menu{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(11, 96, 176);
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
  height: 50px;
  align-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center
}
a{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #ffff;
  text-decoration: none;
  text-align: center;
  padding: 14px 16px;
 
}
#imagen{
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* flex-direction: ; */
  /* justify-content: space-evenly; */
  border: solid green 10px;
  /* align-items: center; */
  /* flex-direction: row; */
  /* object-fit: cover; */
  /* box-sizing: border-box; */
  /* width: clamp(200px, 100%, 3000px);  */
}

.container{
  border: solid rgb(219, 207, 68);
  display: flex;
}
.frontCard, .backCard {
  display: flex;
  flex-direction: column;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}
/* .frontCard, .backCard
  position: absolute;
  justify-content: center;
  align-items: centers;
  width: 100%;
  height: 100%; */
.posterTitle{
  background-color: rgb(235, 168, 23);
  border: solid rgb(43, 4, 240);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  margin-left: 90px;
  border-radius: 10px;
  cursor: pointer;
  width: 320px;
  height: 480px;
}
.posterTitle h2{
  color: rgb(29, 8, 214);
  margin: 20px;
  margin-top: 3px;
}
.posterTitle img{
  width: 250px;
  height: 360px;
  border: solid salmon;
  border-radius: 10px;
}
.backCard p{
  border: solid rgb(40, 59, 199);
  font-size: large;
}

.info{
  background-color: gray;
  border-radius: 10px;
  filter: drop-shadow(7px 10px 10px gray);
  /* width: 550px; */
  height: 200px;
  padding: 17px;
  margin-top: 125px;
  margin-left: 110px;
  border: solid blue;
  overflow: scroll;
  
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  /* margin: 2rem auto; */
  /* border: 1px solid #aaa; */
  height: 300px;
  width:90%;
  max-width: 550px;
  /* background: #f1f2f3; */
  overflow:auto;
  box-sizing: border-box;
  /* padding:0 1rem; */

  /* display: flex;
  flex-direction: column; */
}
.info::-webkit-scrollbar {
  -webkit-appearance: none;
}

.info::-webkit-scrollbar:vertical {
  width:10px;
}
.info::-webkit-scrollbar-button:increment,.info::-webkit-scrollbar-button {
  display: none;
} 

.info::-webkit-scrollbar:horizontal {
  height: 10px;
}

.info::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #4177ae;
}

.info::-webkit-scrollbar-track {
  border-radius: 10px;  
}







.info p{
  padding: 2px;
  text-align: justify;
}
#options{
  display: flex;
  justify-content: space-between;
  border: solid rgb(136, 67, 226) 7px;
}
.itemSelect{
  color: rgb(227, 167, 15);
  background-color: rgb(37, 43, 208);
 
}
select{
  width: 200px;
  height: 30px;
  cursor: pointer;
  
}
/* .personajes{
  border: solid blue;
  width: 250px;
  height: 360px;
}
.personajes h3{
  border: solid rgb(0, 255, 30);
  color: brown;
}
.personajes img{
  border: solid blue;
  width: 250px;
  height: 360px;
 
} */
